<a href="https://colab.research.google.com/github/caraujom/Labs_IH/blob/main/Lab_7_01_RevisitingML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
data=pd.read_csv('learningSet.txt')
data.shape

(95412, 481)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 481 entries, ODATEDW to GEOCODE2
dtypes: float64(97), int64(310), object(74)
memory usage: 350.1+ MB

Complete the following steps on the categorical columns in the dataset:

Check for null values in all the columns

In [ ]:
categorical=data.select_dtypes(np.object)
categorical

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,CLUSTER,AGEFLAG,HOMEOWNR,CHILD03,CHILD07,CHILD12,CHILD18,GENDER,DATASRCE,SOLP3,SOLIH,MAJOR,GEOCODE,COLLECT1,VETERANS,BIBLE,CATLG,HOMEE,PETS,CDPLAY,STEREO,PCOWNERS,PHOTO,CRAFTS,FISHER,GARDENIN,BOATS,WALKER,KIDSTUFF,CARDS,PLATES,LIFESRC,PEPSTRFL,RFA_2,RFA_3,RFA_4,RFA_5,RFA_6,RFA_7,RFA_8,RFA_9,RFA_10,RFA_11,RFA_12,RFA_13,RFA_14,RFA_15,RFA_16,RFA_17,RFA_18,RFA_19,RFA_20,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,XXXX,T2,36,,,,,,,F,,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,XXXX,S1,14,E,H,,,,M,M,3,,,,2,,,,,,,,,,,,,,,,,,,,,L2G,A2G,A2G,A2G,A2G,A1E,A1E,A1E,A1E,A1E,A1E,,,,L1E,,,N1E,N1E,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,XXXX,R2,43,,U,,,,,M,3,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4F,S4F,S4F,,S4F,S4F,S4F,S4F,S4F,S4F,,S4D,S4D,,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,XXXX,R2,44,E,U,,,,,F,3,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,,S4E,S4E,S4E,S4E,S4E,S4E,S2D,S2D,A1D,A1D,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,XXXX,S2,16,E,H,,,,,F,3,,12,,,,,Y,Y,,,,Y,,,Y,,Y,,Y,,Y,,3,,L2F,A2F,A2F,A2F,A1D,I2D,A1E,A1E,L1D,A1E,A1E,L1D,L3D,,L3D,A2D,A2D,A3D,A3D,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,XXXX,C2,27,,,,,,,M,,,,,,,,,,,,,,,,,,,,,,,,,,L1G,F1G,F1G,,F1G,P1G,P1G,,,,,,,,,,,,,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,XXXX,C1,24,E,H,,,,M,M,3,,,,,,,,,,,,,,,,,,,,,,,,,L1F,,,,,P1F,P1F,,,,,,,,,,,,,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,XXXX,C3,30,,,,,,,M,,,,,,,,,,,,,,,,,,,,,,,,,X,L3E,S4E,S4E,S3E,S3E,,A2E,N3E,N3E,N3E,N3E,N3E,N3E,N2E,F1D,,F1D,,,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,XXXX,C1,24,E,H,,,,,F,2,,12,,4,,,,,,,,,,,,,,,,,,,1,X,L4F,S4F,A3F,S4F,S4F,S4F,S4F,S4F,S4F,S4F,S4F,S4F,S4F,S4F,S3F,S2F,S2F,A1F,A1F,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,C1CM,C1,24,E,U,,,,,F,3,,12,X,3,,,,,,,,,,,,,,,,,,,,X,L1G,A1G,A1G,A1G,A1G,L3G,L3G,L4G,A1G,A1G,A1G,A1G,A1G,A1G,S2G,S3G,S3G,S4G,S3G,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [ ]:
100*categorical['GEOCODE2'].value_counts()/len(categorical['GEOCODE2'])

A    36.142204
B    29.875697
D    17.377269
C    16.270490
      0.195992
Name: GEOCODE2, dtype: float64

In [ ]:
categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 74 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OSOURCE   95412 non-null  object
 1   STATE     95412 non-null  object
 2   ZIP       95412 non-null  object
 3   MAILCODE  95412 non-null  object
 4   PVASTATE  95412 non-null  object
 5   NOEXCH    95412 non-null  object
 6   RECINHSE  95412 non-null  object
 7   RECP3     95412 non-null  object
 8   RECPGVG   95412 non-null  object
 9   RECSWEEP  95412 non-null  object
 10  MDMAUD    95412 non-null  object
 11  DOMAIN    95412 non-null  object
 12  CLUSTER   95412 non-null  object
 13  AGEFLAG   95412 non-null  object
 14  HOMEOWNR  95412 non-null  object
 15  CHILD03   95412 non-null  object
 16  CHILD07   95412 non-null  object
 17  CHILD12   95412 non-null  object
 18  CHILD18   95412 non-null  object
 19  GENDER    95412 non-null  object
 20  DATASRCE  95412 non-null  object
 21  SOLP3     95412 non-null  object
 22  SOLIH     95412 non-null  object
 23  MAJOR     95412 non-null  object
 24  GEOCODE   95412 non-null  object
 25  COLLECT1  95412 non-null  object
 26  VETERANS  95412 non-null  object
 27  BIBLE     95412 non-null  object
 28  CATLG     95412 non-null  object
 29  HOMEE     95412 non-null  object
 30  PETS      95412 non-null  object
 31  CDPLAY    95412 non-null  object
 32  STEREO    95412 non-null  object
 33  PCOWNERS  95412 non-null  object
 34  PHOTO     95412 non-null  object
 35  CRAFTS    95412 non-null  object
 36  FISHER    95412 non-null  object
 37  GARDENIN  95412 non-null  object
 38  BOATS     95412 non-null  object
 39  WALKER    95412 non-null  object
 40  KIDSTUFF  95412 non-null  object
 41  CARDS     95412 non-null  object
 42  PLATES    95412 non-null  object
 43  LIFESRC   95412 non-null  object
 44  PEPSTRFL  95412 non-null  object
 45  RFA_2     95412 non-null  object
 46  RFA_3     95412 non-null  object
 47  RFA_4     95412 non-null  object
 48  RFA_5     95412 non-null  object
 49  RFA_6     95412 non-null  object
 50  RFA_7     95412 non-null  object
 51  RFA_8     95412 non-null  object
 52  RFA_9     95412 non-null  object
 53  RFA_10    95412 non-null  object
 54  RFA_11    95412 non-null  object
 55  RFA_12    95412 non-null  object
 56  RFA_13    95412 non-null  object
 57  RFA_14    95412 non-null  object
 58  RFA_15    95412 non-null  object
 59  RFA_16    95412 non-null  object
 60  RFA_17    95412 non-null  object
 61  RFA_18    95412 non-null  object
 62  RFA_19    95412 non-null  object
 63  RFA_20    95412 non-null  object
 64  RFA_21    95412 non-null  object
 65  RFA_22    95412 non-null  object
 66  RFA_23    95412 non-null  object
 67  RFA_24    95412 non-null  object
 68  RFA_2R    95412 non-null  object
 69  RFA_2A    95412 non-null  object
 70  MDMAUD_R  95412 non-null  object
 71  MDMAUD_F  95412 non-null  object
 72  MDMAUD_A  95412 non-null  object
 73  GEOCODE2  95280 non-null  object
dtypes: object(74)
memory usage: 53.9+ MB

In [ ]:
categorical.isna().sum().sum()

132

Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories
ZIP CODE - we are including state already

In [ ]:
#hacer lista

In [ ]:
drop_list = []

In [ ]:
drop_list.append (['OSOUERCE', 'ZIP'])

In [ ]:
drop_list

[['OSOUERCE', 'ZIP']]

Identifique las columnas que faltan en mÃ¡s del 85 % de los valores

In [ ]:
nulls_percent_df=pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns=['column_name','nulls_percentage']

In [ ]:
columns_above_threshold= nulls_percent_df[nulls_percent_df['nulls_percentage']>.85]
len(columns_above_threshold)

#columns_above_threshold

drop_list.append(list(columns_above_threshold['column_name']))
drop_list

[['OSOUERCE', 'ZIP'],
 ['NUMCHLD',
  'RDATE_3',
  'RDATE_4',
  'RDATE_5',
  'RDATE_6',
  'RDATE_7',
  'RDATE_10',
  'RDATE_13',
  'RDATE_15',
  'RDATE_17',
  'RDATE_20',
  'RDATE_21',
  'RDATE_23',
  'RAMNT_3',
  'RAMNT_4',
  'RAMNT_5',
  'RAMNT_6',
  'RAMNT_7',
  'RAMNT_10',
  'RAMNT_13',
  'RAMNT_15',
  'RAMNT_17',
  'RAMNT_20',
  'RAMNT_21',
  'RAMNT_23']]

In [ ]:
#NO hay columnas con mas del 85%

Eliminar esas columnas del marco de datos

In [ ]:
## Nada que eliminar

Reduzca el nÃºmero de categorÃ­as en la columna GENDER. La columna solo debe tener "M" para hombres, "F" para mujeres y "otro" para el resto

Tenga en cuenta que hay algunos valores nulos en la columna. Primero reemplazaremos esos valores nulos usando el siguiente cÃ³digo:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [ ]:
categorical['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [ ]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
categorical['GENDER'].value_counts()
categorical['GENDER'] = categorical['GENDER'].replace('  ','F')

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [ ]:
def clean_gender (x):
  if x in ['F','M']:
        return x
  else:
        return 'other'

categorical['GENDER'] = list(map(clean_gender, categorical['GENDER']))

In [ ]:
categorical['GENDER'].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64